docs/n8n-article-workflow.json
{
  "name": "Article RSS Parser",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "article-rss",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "article-rss"
    },
    {
      "parameters": {
        "url": "={{ $json.body.feedUrl }}",
        "options": {}
      },
      "id": "http-1",
      "name": "Fetch RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// RSS 소스 URL 매핑\nconst RSS_FEEDS = {\n  'artnet': 'https://news.artnet.com/feed',\n  'artnewspaper': 'https://www.theartnewspaper.com/rss',\n  'arthub': 'https://www.arthub.co.kr/feed/rss',\n  'neolook': 'https://neolook.com/rss',\n  'monthlyart': 'https://monthlyart.com/feed'\n};\n\nconst sourceId = $input.first().json.body.sourceId;\nconst feedUrl = RSS_FEEDS[sourceId];\n\nreturn {\n  json: {\n    sourceId,\n    feedUrl,\n    body: $input.first().json.body\n  }\n};"
      },
      "id": "code-1",
      "name": "Get Feed URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [350, 300]
    },
    {
      "parameters": {
        "jsCode": "// 간단한 RSS 파싱\nconst rssXml = $input.first().json.data;\nconst sourceId = $('Get Feed URL').first().json.sourceId;\n\n// XML에서 item 추출 (간단한 정규식)\nconst itemRegex = /<item[^>]*>([\\s\\S]*?)<\\/item>/gi;\nconst titleRegex = /<title><!\\[CDATA\\[([^\\]]+)\\]\\]><\\/title>|<title>([^<]+)<\\/title>/i;\nconst linkRegex = /<link>([^<]+)<\\/link>/i;\nconst descRegex = /<description><!\\[CDATA\\[([^\\]]+)\\]\\]><\\/description>|<description>([^<]+)<\\/description>/i;\nconst pubDateRegex = /<pubDate>([^<]+)<\\/pubDate>/i;\nconst guidRegex = /<guid[^>]*>([^<]+)<\\/guid>/i;\n\nconst items = [];\nlet match;\nlet index = 0;\n\nwhile ((match = itemRegex.exec(rssXml)) !== null && index < 20) {\n  const itemXml = match[1];\n  \n  const titleMatch = titleRegex.exec(itemXml);\n  const linkMatch = linkRegex.exec(itemXml);\n  const descMatch = descRegex.exec(itemXml);\n  const dateMatch = pubDateRegex.exec(itemXml);\n  const guidMatch = guidRegex.exec(itemXml);\n  \n  const title = titleMatch ? (titleMatch[1] || titleMatch[2] || '').trim() : '';\n  const link = linkMatch ? linkMatch[1].trim() : '';\n  const description = descMatch ? (descMatch[1] || descMatch[2] || '').trim() : '';\n  const pubDate = dateMatch ? dateMatch[1].trim() : new Date().toISOString();\n  const guid = guidMatch ? guidMatch[1].trim() : link;\n  \n  if (title && link) {\n    items.push({\n      id: guid || `${sourceId}-${index}`,\n      title: title,\n      summary: description.replace(/<[^>]*>/g, '').substring(0, 200),\n      url: link,\n      source: sourceId,\n      sourceId: sourceId,\n      date: pubDate,\n      thumbnail: '',\n      category: 'Art News',\n      language: ['arthub', 'neolook', 'monthlyart'].includes(sourceId) ? 'ko' : 'en'\n    });\n    index++;\n  }\n}\n\nreturn items.map(item => ({ json: item }));"
      },
      "id": "code-2",
      "name": "Parse RSS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [550, 300]
    },
    {
      "parameters": {
        "jsCode": "const articles = $input.all().map(item => item.json);\nconst sourceId = $('Get Feed URL').first().json.sourceId;\n\nreturn [{\n  json: {\n    success: true,\n    sourceId: sourceId,\n    articles: articles,\n    total: articles.length,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "code-3",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Feed URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Feed URL": {
      "main": [
        [
          {
            "node": "Fetch RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS": {
      "main": [
        [
          {
            "node": "Parse RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse RSS": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
